@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@theme{
    --color-cafe-50: #f6f3f0;
    --color-cafe-100: #e8e3d9;
    --color-cafe-200: #d3c7b5;
    --color-cafe-300: #b9a58b;
    --color-cafe-400: #a4896b;
    --color-cafe-500: #95795d;
    --color-cafe-600: #80624e;
    --color-cafe-700: #674e41;
    --color-cafe-800: #58423b;
    --color-cafe-900: #41312d;
    --color-cafe-950: #2c1f1c;
    --color-dark: #0a0a0a;
    --color-light: #f8eee4;
    --color-primary: #b86114;
    --font-montserrat: 'Montserrat' , sans-serif;
    --font-karla: 'Karla' , sans-serif;
    --font-satisfy: 'Satisfy' , sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 96px;
}
.overlay{
    position: relative;
    min-height: inherit;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(120deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
}
.min-h-inherit{
    min-height: inherit;
}
.bg-glass{
    /* background-color: rgba(255,255,255,0.2); */
    background-color: rgba(205, 125, 18,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.swiper-wrapper{
    height: 100% !important;
}
.swiper-slide{
    height: 100% !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--color-primary) !important;
}
.swiper-pagination-bullet{
    width: 15px !important;
    height: 15px !important;
}
.swiper-button-next, .swiper-button-prev{
    background-color: var(--color-primary) !important;
    color: var(--color-cafe-50) !important;
    border-radius: 50% !important;
}
.swiper-button-next svg, .swiper-button-prev svg{
    width: 20px !important;
    height: 20px !important;
}
.swiper-scrollbar{
    height: 50px !important;
}
.bento-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
}
.bento-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.bento-grid__item-1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.bento-grid__item-2{
    grid-column: 4 / 7;
    grid-row: 1 / 2;
}
.bento-grid__item-3{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.bento-grid__item-4{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.bento-grid__item-5{
    grid-column: 1 / 5;
    grid-row: 3 / 3;
}
.bento-grid__item-6{
    grid-column: 5 / 7;
    grid-row: 2 / 4;
}
@media (min-width: 768px){ 
    .bento-grid__item-1{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .bento-grid__item-2{
        grid-column: 4 / 7;
        grid-row: 1 / 2;
    }
    .bento-grid__item-3{
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    .bento-grid__item-4{
        grid-column: 5 / 7;
        grid-row: 2 / 4;
    }
    .bento-grid__item-5{
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }
    .bento-grid__item-6{
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
}
/* Disable video on safari */
video::-webkit-media-controls {
    display: none !important;
    -webkit-appearance: none !important;
}
video::-webkit-media-controls-enclosure {
    display: none !important;
    -webkit-appearance: none !important;
}